tmp/
.idea/
.metals/
__pycache__
**/.DS_Store
**/*.zip
venv/
.python-version
spark-warehouse/
build/*
.ipynb_checkpoints/
easy_sql-easy_sql*
easy-sql-easy-sql*
easy_sql_easy_sql.egg-info
dist/
dist.old/
metastore_db/
derby.log
coverage.xml
.coverage
readme.local.md
test/flink/jars
test/*.local.*
test/*__local.py
test/spark/jars
test/flink/tools
