tmp/
.idea/
__pycache__
**/.DS_Store
**/*.zip
venv/
.python-version
spark-warehouse/
build/*
.ipynb_checkpoints/
easy_sql-easy_sql*
easy_sql_easy_sql.egg-info
dist/
metastore_db/
derby.log
.coverage

